.container {
	max-width: 960px;
	margin: auto;
}

table {
	border-collapse: collapse;
	// margin-top: 2em;
	display: block;
	width: 100%;
}

tbody {
	// display: block;
	width: 100%;
}

td, th {
	background: #fff;
	border: 1px solid #ccc;
	padding: 0.5em;
	white-space: nowrap;
}

th {
	text-align: left;
	vertical-align: top;
}
